<div class="toc">
  <h1>Table of contents</h1>
  {{ $files := readDir ("/content/monsters/") }}
  {{ $imagePairs := slice }}
  {{ $baseNames := slice }}
  {{ range $files }}
    {{ if (and (not .IsDir) (in (slice ".webp") (path.Ext .Name))) }}
      {{ $filenameParts := split .Name "-" }}
      {{ $symbol := index $filenameParts 0 }}
      {{ $name := index $filenameParts 1 }}
      {{ $color := index $filenameParts 2 }}
      {{ $baseName := printf "%s-%s-%s" $symbol $color $name }}
      {{ if not (in $baseNames $baseName) }}
        {{ $baseNames = $baseNames | append $baseName }}
        {{ $imagePairs = $imagePairs | append (dict "symbol" $symbol "color" $color "name" $name) }}
      {{ end }}
    {{ end }}
  {{ end }}

  <ol>
  {{ range $imagePairs }}
    <li>
      <a href="#{{ .name }}" style="text-decoration: none;">
        <span class="{{ .color }}">
          {{ .symbol
            | replaceRE "0amp" "&"
            | replaceRE "0apos" "'"
            | replaceRE "0at" "@"
            | replaceRE "0colon" ":"
            | replaceRE "0semi" ";" }}
        </span>
        {{ .name | replaceRE "_" " " }}
      </a>
  </li>
  {{ end }}
  </ol>
</div>
