<div id="controls">
  <input type="checkbox" id="retroToggle">
  <label for="retroToggle"> Show only retro images</label>
  <input type="checkbox" id="smallToggle" disabled>
  <label for="smallToggle" title="It is only possible to view the retro images as small ones"> Small images (64x64)</label>
</div>

<script>
  const retroCheckbox = document.getElementById('retroToggle');
  const smallCheckbox = document.getElementById('smallToggle');

  const toggleSmallImages = () => {
    const smallRetroImages = document.querySelectorAll('.small-retro');
    const retroImages = document.querySelectorAll('.retro');
    if (smallCheckbox.checked) {
      smallRetroImages.forEach(img => img.style.display = '');
      retroImages.forEach(img => img.style.display = 'none');
    } else {
      smallRetroImages.forEach(img => img.style.display = 'none');
      retroImages.forEach(img => img.style.display = '');
    }
  };

  retroCheckbox.addEventListener('change', () => {
    const smallRetroImages = document.querySelectorAll('.small-retro');
    const retroImages = document.querySelectorAll('.retro');
    const fantasyImages = document.querySelectorAll('.fantasy');
    if (retroCheckbox.checked) {
      retroImages.forEach(img => img.style.display = '');
      fantasyImages.forEach(img => img.style.display = 'none');
      smallCheckbox.disabled = false;
    } else {
      retroImages.forEach(img => img.style.display = '');
      fantasyImages.forEach(img => img.style.display = '');
      smallCheckbox.disabled = true;
      smallCheckbox.checked = false;
    }
    toggleSmallImages();
  });

  smallCheckbox.addEventListener('change', toggleSmallImages);
</script>

<div class="gallery">
  {{ $subdir := .Page.Params.content_directory | default "" }}
  {{ $path := printf "/assets/%s" $subdir }}
  {{ $files := readDir $path }}
  {{ $imagePairs := slice }}
  {{ $baseNames := slice }}
  {{ range $files }}
    {{ if (and (not .IsDir) (in (slice ".webp") (path.Ext .Name))) }}
      {{ $filenameParts := split .Name "-" }}
      {{ $symbol := index $filenameParts 0 }}
      {{ $name := index $filenameParts 1 }}
      {{ $color := index $filenameParts 2 }}
      {{ $baseName := printf "%s-%s-%s" $symbol $name $color }}
      {{ if not (in $baseNames $baseName) }}
        {{ $baseNames = $baseNames | append $baseName }}
        {{ $imagePairs = $imagePairs | append (dict "symbol" $symbol "color" $color "name" $name "baseName" $baseName) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ range $imagePairs }}
    {{ $retroVersionFilename := printf "%s/%s-ascii.webp" $subdir .baseName }}
    {{ $retroImage := resources.Get $retroVersionFilename }}
    {{ $pngVersion := $retroImage.Resize "512x512 NearestNeighbor" }}
    {{ $pngVersion := $pngVersion.Process "png" }}

    {{ $smallRetroImage := $retroImage.Resize "64x64 Lanczos" }}
    {{ $smallRetroImage := $smallRetroImage.Process "gif" }}

    {{ $fantasyVersionFilename := printf "%s/%s-fantasy.webp" $subdir .baseName }}
    {{ $fantasyImage := resources.Get $fantasyVersionFilename }}
    {{ $jpgVersion := $fantasyImage.Resize "512x512 Lanczos" }}
    {{ $jpgVersion := $jpgVersion.Process "jpg" }}

    {{ $videoFilenameAscii := printf "assets/%s/%s-ascii.mp4" $subdir .baseName }}
    {{ $videoFilenameFantasy := printf "assets/%s/%s-fantasy.mp4" $subdir .baseName }}
    {{ $videoExistsAscii := (fileExists (printf "static/%s" $videoFilenameAscii)) }}
    {{ $videoExistsFantasy := (fileExists (printf "static/%s" $videoFilenameFantasy)) }}
    {{ $name := .name | replaceRE "_" " " }}

    <div class="gallery-item" id="{{ .name }}">
      <h2>
        <img class="small-retro" 
             src="{{ $smallRetroImage.RelPermalink }}" 
             alt="{{ $name }} in retro gaming inspired style"
             title="{{ $name }} in retro gaming inspired style"
             style="display: none; height: 64px; width: 64px;">

        <span class="{{ .color }}">{{ .symbol
        | replaceRE "0rparen" ")"
        | replaceRE "0lparen" "("
        | replaceRE "0rsqparen" "]"
        | replaceRE "0lsqparen" "["
        | replaceRE "0asterisk" "*"
        | replaceRE "0quote" "\""
        | replaceRE "0amp" "&"
        | replaceRE "0apos" "'"
        | replaceRE "0at" "@"
        | replaceRE "0colon" ":"
        | replaceRE "0semi" ";" }}</span>
        <a href="https://nethackwiki.com/wiki/{{ .name }}">{{ $name }}</a>
      </h2>

      <picture class="retro">
        <source srcset="{{ $retroImage.RelPermalink }}" type="image/webp" />
        <img class="image-to-video" 
             src="{{ $pngVersion.RelPermalink }}" 
             loading="eager" 
             alt="{{ $name }} in retro gaming inspired style"
             title="{{ $name }} in retro gaming inspired style"
             width="{{ $pngVersion.Width }}"
             height="{{ $pngVersion.Height }}"
             {{ if $videoExistsAscii }}data-video-src="../{{ $videoFilenameAscii }}"{{ end }}>
      </picture>

      <picture class="fantasy">
        <source srcset="{{ $fantasyImage.RelPermalink }}" type="image/webp" />
        <img class="image-to-video" 
             src="{{ $jpgVersion.RelPermalink }}" 
             loading="lazy" 
             alt="{{ $name }} in fantasy movie style"
             title="{{ $name }} in fantasy movie style"
             width="{{ $jpgVersion.Width }}"
             height="{{ $jpgVersion.Height }}"
             {{ if $videoExistsFantasy }}data-video-src="../{{ $videoFilenameFantasy }}"{{ end }}>
      </picture>
    </div>
  {{ end }}

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll('.image-to-video[data-video-src]');

      images.forEach(img => {
        setupImageVideoToggle(img);
      });

      function setupImageVideoToggle(img) {
        const videoSrc = img.getAttribute('data-video-src');

        if (!videoSrc) {
          return;
        }

        let video = null;

        function createVideo() {
          if (video) {
            return;
          }

          video = document.createElement('video');
          video.src = videoSrc;
          video.autoplay = true;
          video.loop = true;
          video.muted = true;
          video.setAttribute('width', img.width);
          video.setAttribute('height', img.height);

          video.addEventListener('click', function() {
            video.replaceWith(img);
          });
        }

        img.addEventListener('click', function() {
          createVideo();
          video.currentTime = 0;
          img.replaceWith(video);
          video.play();
        });

        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting && entry.intersectionRatio >= 0.75) {
              // Delay of 1 second before replacing the image
              setTimeout(() => {
                createVideo();
                img.replaceWith(video);
                observer.unobserve(img);
              }, 1000);
            }
          });
        }, { threshold: 0.75 });

        observer.observe(img);
      }
    });
  </script>
</div>
