<div class="gallery">
  {{ $files := readDir ("/content/monsters/") }}
  {{ $imagePairs := slice }}
  {{ $baseNames := slice }}
  {{ range $files }}
    {{ if (and (not .IsDir) (in (slice ".webp") (path.Ext .Name))) }}
      {{ $filenameParts := split .Name "-" }}
      {{ $symbol := index $filenameParts 0 }}
      {{ $color := index $filenameParts 1 }}
      {{ $name := index $filenameParts 2 }}
      {{ $baseName := printf "%s-%s-%s" $symbol $color $name }}
      {{ if not (in $baseNames $baseName) }}
        {{ $baseNames = $baseNames | append $baseName }}
        {{ $imagePairs = $imagePairs | append (dict "symbol" $symbol "color" $color "name" $name) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ range $imagePairs }}
    <div class="gallery-item">
      <h2><span class="{{ .color }}">{{ .symbol | replaceRE "0amp" "&" | replaceRE "0apos" "'" | replaceRE "0at" "@" | replaceRE "0colon" ":" }}</span> {{ .name | replaceRE "_" " " }}</h2>
      <img src="{{ .symbol }}-{{ .color }}-{{ .name }}-ascii.webp" alt="{{ .name | replaceRE "_" " " }} ASCII-art inspired style" title="{{ .name | replaceRE "_" " " }} in ASCII-art inspired style">
      <img src="{{ .symbol }}-{{ .color }}-{{ .name }}-fantasy.webp" alt="{{ .name | replaceRE "_" " " }} in fantasy movie style" title="{{ .name | replaceRE "_" " " }} in fantasy movie style">
    </div>
  {{ end }}
</div>
